.body-light {
    background-color: rgb(255, 255, 255);
}
.map-light {
    background-color: rgb(112, 253, 84);
}
.profilee {
    background-image:url(Images/colorful.jpg);
    background-size: 666.6px;
    background-position: right;
    background-repeat: no-repeat;
}
.opaState {
    opacity: 0;
}
.theme-part-sec-3 {
    background-color: aqua;
}