.body-light {
    background-color: rgb(255, 255, 255);
}
.map-light {
    background-color: white;
}
.profilee {
    background-image:url(Images/colorful.jpg);
    background-size: 666.6px;
    background-position: right;
    background-repeat: no-repeat;
}
.opaState {
    opacity: 0;
}
.theme-part-sec-3 {
    background-color:rgb(210, 224, 255);
}
.theme-part-sec-5 {
    background-color: rgb(210, 224, 255);
}
.theme-socialdiv {
    background-color: rgb(149, 183, 255);
}
.themeCardBody {
    background-color: rgb(149, 183, 255);
}